<div class="container">
    <div class="error-container" *ngIf="error">
      {{error}}
    </div>
    <h1>Change Password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="register-container">
        <mat-form-field>
          <input matInput placeholder="Current Password" type="password" formControlName="currentPassword" />
          <mat-hint *ngIf="changePasswordForm.get('currentPassword')?.errors?.required">This field is required!</mat-hint>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="New Password" type="password" formControlName="newPassword" />
          <mat-hint *ngIf="changePasswordForm.get('newPassword')?.errors?.required">This field is required!</mat-hint>
        </mat-form-field>  
        <button mat-flat-button color="primary" class="submit-btn"  type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
      </div>
    </form>
  </div>
  