@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

li {
     display: inline-block;
     align-self: start;
     padding-right: 20px;
}

.logo {
  width: 50px;
  height: 75px;
  padding-top: 5px;
  align-self: flex-start;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}
