<div class="container">
  <div class="error-container" *ngIf="error">
    {{error}}
  </div>
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="register-container">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" />
        <mat-hint *ngIf="registerForm.get('firstName')?.errors?.required">First name field is required!</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" />
        <mat-hint *ngIf="registerForm.get('lastName')?.errors?.required">Last name field is required!</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-hint *ngIf="registerForm.get('email')?.errors?.required">Email field is required!</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-hint *ngIf="registerForm.get('password')?.errors?.required">Password field is required!</mat-hint>
      </mat-form-field>


      <mat-form-field>
        <input
        matInput
        type="password"
        placeholder="Repeat Password"
        formControlName="repeatPassword"
      />
      <mat-hint *ngIf="registerForm.get('repeatPassword')?.errors?.required">Repeat Password field is required!</mat-hint>
      </mat-form-field>
     

      <button mat-flat-button color="primary" class="submit-btn"  type="submit" [disabled]="registerForm.invalid">Register</button>
    </div>
  </form>
</div>
