* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

app-header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  
  // min-height: 91vh;
  min-height: 100vh;
}

app-footer {
  align-self: flex-end;
  // bottom: 0px; 
  // flex-grow: 3;
  width: 100%;
  // flex-shrink: 1;
}

main{
  width: 100%;
  flex: 1 0 auto;
}