<div class="loading" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <section class="post-container">
    <div class="image-container"><img src="{{ post?.image }}" alt="" /></div>
    <div class="info-container">
      <p>phone: {{ post?.phone }}</p>
      <p>city: {{ post?.city }}</p>
      <p>region: {{ post?.region }}</p>
    </div>
    <div class="buttons">
      <button
        *ngIf="currentUserId === post?.uid"
        mat-flat-button
        color="primary"
        routerLink="/posts/edit/{{ post?.id }}"
        type="button"
      >
        Edit
      </button>
      <button
        *ngIf="currentUserId === post?.uid"
        mat-flat-button
        color="warn"
        type="button"
        (click)="deletePost()"
      >
        Delete
      </button>
    </div>

  </section>
  
  <div class="description-container">
    <p>{{ post?.description }}</p>
  </div>
</div>
