.container {
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
}

.loading {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container{
    display: flex;
}

.info-container {
    width: 100%;
}